<h1>Crear nuevo producto</h1>
<form id="idForm">
    <label for="title">Nombre del producto:</label>
    <input type="text" name="title" required>

        <label for="description">Descripcion</label>
    <input type="text" name="description" required>

        <label for="price">Precio</label>
    <input type="text" name="price" required>

        <label for="stock">Stock</label>
    <input type="text" name="stock" required>

        <label for="code">Codigo</label>
    <input type="text" name="code" required>

        <label for="category">Categoria</label>
    <input type="text" name="category" required>

    <button type="submit" id="button"> Crear </button>

</form>


<button id="btnProducts">Mostrar productos</button>

